<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Magic8BallServiceHost.Magic8Ball" behaviorConfiguration="Magic8BallBehaviorConfig">

        <endpoint name="Magic8Ball-HTTP" 
                  address="/Magic8Ball/" binding="basicHttpBinding" contract="Magic8BallServiceHost.IMagic8Ball"/>

        <endpoint name="Magic8Ball-TCP" 
                  address="/Magic8Ball/" binding="netTcpBinding" contract="Magic8BallServiceHost.IMagic8Ball"/>

        <endpoint name="Magic8Ball-WEB" behaviorConfiguration="AjaxBehavior"
                  address="/Magic8Ball-WEB" binding="webHttpBinding" contract="Magic8BallServiceHost.IMagic8Ball" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/"/>
            <add baseAddress="net.tcp://localhost:9001/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Magic8BallBehaviorConfig">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
