<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <!-- 
        Comment/Un-comment one of the endpoints below to configure the
        Magic8BallApp to use a different transport and binding to communicate
        with the service.
        
        The Magic8BallApp's status bar will indicate what endpoint its using
        to talk to the service and the status of the connection.
      -->
      <endpoint name="Magic8Ball"
        address="http://localhost:9000/Magic8Ball/" 
        binding="basicHttpBinding"
        contract="Magic8BallService.IMagic8Ball" />
      
      <!--<endpoint name="Magic8Ball"
        address="net.tcp://localhost:9001/Magic8Ball/" 
        binding="netTcpBinding"
        contract="Magic8BallService.IMagic8Ball" />-->
    </client>
  </system.serviceModel>
</configuration>